.details-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.details-container-form {
  flex: 0 0 auto;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    padding: 16px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    .centered{
      display: flex;
      justify-content:center;
    }
    label {
      color: gray;
      font-size: 16px;
      font-weight: lighter;
    }
  }
}

.details-container-list {
  padding: 10px 0px;
  ul {
    list-style: none;
    li{
      color: gray;
      font-size: 16px;
      font-weight: lighter;
    }
  }
}

@media(max-width: 766px) {
  .details-container-list {
    text-align: center;
  }
}
