<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <h4>Add a new ingredient</h4>
  <%= f.input :description %>
  <%= f.association :ingredient, class: "s-example-basic-single" %>
  <div class="centered">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

